---
:dryrun: true
:dns:
    :cname: 'ha-redis.example.cxm'
    :config: { :provider: :dnsmadeeasy, 
               :dnsmadeeasy_api_key: 'abcd1234-efgh5678',
               :dnsmadeeasy_secret_key: 'efgh5678-abcd1234' }
:redises:
  - :host: 'redis1.example.cxm'
    :port: 6379
  - :host: 'redis2.example.cxm'
    :port: 6380
:logfile: '/tmp/redis-shepherd.log'